workflow/Daily_Job_Match_updated.json
{
  "name": "Daily_Job_Match",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2656,
        80
      ],
      "id": "a92db44e-5006-4d58-ab1c-b6a3e7e7f261",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2016,
        80
      ],
      "id": "39cf2a68-23d0-4a6e-ae35-5ae6e6722473",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items?token= {{ $('Config').item.json.apifyDatasetUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.apifyDatasetUrl }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1472,
        80
      ],
      "id": "ac66abd0-c49b-449a-a11c-9652f3dcaa0b",
      "name": "Linkedin"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional AI assistant that evaluates how well a candidate's CV fits a specific job.\n\n## GOAL\nCompare the candidate's CV and the job description, evaluate their fit across defined categories, and return **STRICT JSON only**.\n\n---\n\n### INPUTS\n- Candidate CV:\n{{ $json.cv_text }}\n- Job description:\n{{ $json.job_text }}\n\n---\n\n### CANDIDATE PREFERENCES\n- Preferred languages: {{ $('Config').item.json.preferLanguages }}\n- Seniority preference: {{ $('Config').item.json.seniorityPreference }}\n- Target domain: {{$('Config').item.json.keywords }}\n---\n\n### TASKS\n1. **Understand the role**  \n   - Write a neutral 2–3-sentence summary of what the job is about.  \n   - Extract 3–5 concise keywords that capture its main technical and domain focus.\n\n2. **Assess fit**  \n   - Produce 2–3 short bullet points showing how the candidate's background or experience matches the role.  \n   - Write a short connector (1–2 sentences) that links the candidate's profile to the job's mission or company focus.\n\n3. **Score fit across categories**\n\n| Category | Range | Guidance |\n|-----------|-------|-----------|\n| background_match | 0–10 | Evaluate domain fit: 10 = job's domain/industry perfectly matches candidate's CV expertise and experience; 6–9 = related or transferable domain; 0 = completely unrelated field |\n| skills_overlap | 0–30 | Compare technical skills, tools, methodologies, and soft skills appearing in both CV and job description. Count matches and assess depth of overlap |\n| experience_relevance | 0–30 | Check if candidate's project or work experience aligns with the job's listed responsibilities and requirements. Consider relevance and depth of experience |\n| seniority | 0–10 | Score based on preference \"{{ $('Config').item.json.seniorityPreference }}\": 10 = matches preference perfectly; 5 = neutral/mid-level; 0 = opposite of preference (e.g., if preference is junior, senior roles score 0) |\n| language_requirement | 0–10 | Score based on preferred languages {{ $('Config').item.json.preferLanguages }}: 10 = job requires/accepts preferred languages or is language-flexible; 5 = partial match; 0 = requires languages not in preferred list |\n| company_score | 0–10 | Evaluate company alignment: 10 = company's industry, size, and profile strongly match candidate's background and career goals evident in CV; 5 = medium fit; 0 = company type mismatches candidate profile |\n\nThen compute  \n`overall = background_match + skills_overlap + experience_relevance + seniority + language_requirement + company_score`\n\n---\n\n### RULES\n- Use only information found in the CV and job text.  \n- Return one **valid JSON object** exactly matching the schema below.  \n- No explanations or natural-language text outside the JSON.  \n- `score.overall` must equal the sum of sub-scores.\n\n---\n\n### OUTPUT SCHEMA\n{\n  \"score\": {\n    \"overall\": (0–100),\n    \"background_match\": (0–10),\n    \"skills_overlap\": (0–30),\n    \"experience_relevance\": (0–30),\n    \"seniority\": (0–10),\n    \"language_requirement\": (0–10),\n    \"company_score\": (0–10)\n  },\n  \"summary\": \"2–3 sentence neutral summary of the role\",\n  \"keywords\": [\"keyword1\",\"keyword2\",\"keyword3\"],\n  \"fit_bullets\": [\n    \"bullet1\",\n    \"bullet2\"\n  ],\n  \"connector\": \"1–2 sentences linking the candidate's experience to this role\"\n}\n\n---\n\n### OUTPUT EXAMPLE\n{\n  \"score\": {\n    \"overall\": 82,\n    \"background_match\": 8,\n    \"skills_overlap\": 24,\n    \"experience_relevance\": 25,\n    \"seniority\": 9,\n    \"language_requirement\": 8,\n    \"company_score\": 8\n  },\n  \"summary\": \"This is an entry-level data-science position within a biotech analytics team focusing on experimental design and data visualization.\",\n  \"keywords\": [\"Python\",\"data analysis\",\"bioinformatics\",\"pipelines\"],\n  \"fit_bullets\": [\n    \"Developed and maintained R/Python pipelines for omics data at DTU HealthTech.\",\n    \"Experience in transcriptomics and proteomics aligns with the company's analytical workflows.\"\n  ],\n  \"connector\": \"The candidate's background in multi-omics data analysis and software development directly supports the analytical needs of this biotech data-science role.\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -320,
        -112
      ],
      "id": "f323bd01-24b5-4a7a-9226-82200f15e65d",
      "name": "Score the job and extract",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0619efc8-36c0-40ae-a873-68be9b0bbf3b",
              "name": "apifyDatasetUrl",
              "value": "YOUR_APIFY_API",
              "type": "string"
            },
            {
              "id": "54e1280f-5944-4d35-9c9a-e52694c4c5eb",
              "name": "gmailTo",
              "value": "eliane.shiyulin@gmail.com",
              "type": "string"
            },
            {
              "id": "a5a26dc1-d939-4aee-a01e-94166fb0fa71",
              "name": "topDetailed",
              "value": "5",
              "type": "string"
            },
            {
              "id": "66633cbc-76c5-47af-8c1b-3af64626a711",
              "name": "topTotal",
              "value": "10",
              "type": "string"
            },
            {
              "id": "7c3a4b5d-6e7f-8g9h-0i1j-2k3l4m5n6o7p",
              "name": "keywords",
              "value": "[\"NLP Engineer\", \"AI Engineer\", \"Machine Learning Engineer\", \"CIFRE NLP\", \"PhD NLP\", \"Doctoral Researcher NLP\", \"Computer Science PhD\"]",
              "type": "string"
            },
            {
              "id": "8d4b5c6e-7f8g-9h0i-1j2k-3l4m5n6o7p8q",
              "name": "location",
              "value": "Paris",
              "type": "string"
            },
            {
              "id": "9e5c6d7f-8g9h-0i1j-2k3l-4m5n6o7p8q9r",
              "name": "preferLanguages",
              "value": "[\"English\", \"French\"]",
              "type": "string"
            },
            {
              "id": "0f6d7e8g-9h0i-1j2k-3l4m-5n6o7p8q9r0s",
              "name": "seniorityPreference",
              "value": "entry-level or junior",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        80
      ],
      "id": "b8098137-a607-431d-929f-f9754e3f076a",
      "name": "Config"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize a single LinkedIn (Apify) item\nconst j = $json;\n\nreturn {\n  source: 'linkedin',\n\n  id: j.id || '',\n  title: (j.title || '').trim(),\n  company: (j.companyName || '').trim(),\n  location: (j.location || '').trim(),\n\n  url: (j.link || j.applyUrl || '').trim(),\n  apply_url: j.applyUrl || '',\n  posted_at: j.postedAt || new Date().toISOString(),\n\n  seniority_level: j.seniorityLevel || '',\n  employment_type: j.employmentType || '',\n  job_function: j.jobFunction || '',\n  industries: j.industries || '',\n  salary: j.salary || '',\n\n  raw_description: String(j.descriptionText || j.description || ''),\n\n  company_website: j.companyWebsite || '',\n  company_linkedin: j.companyLinkedinUrl || '',\n  company_slogan: j.companySlogan || '',\n  company_description: j.companyDescription || '',\n  company_employees: j.companyEmployeesCount ?? null,\n  company_logo: j.companyLogo || '',\n  company_address: j.companyAddress\n    ? [\n        j.companyAddress.streetAddress,\n        j.companyAddress.addressLocality,\n        j.companyAddress.addressRegion,\n        j.companyAddress.postalCode,\n        j.companyAddress.addressCountry,\n      ]\n        .filter(Boolean)\n        .join(', ')\n    : '',\n\n  text_for_matching: [\n    j.title,\n    j.companyName,\n    j.location,\n    j.descriptionText,\n    j.companyDescription,\n  ]\n    .filter(Boolean)\n    .join(' — ')\n    .replace(/\\s+/g, ' ')\n    .slice(0, 20000),\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        80
      ],
      "id": "80e67d06-9cd7-4f64-b23e-93dd041e195e",
      "name": "NormalizeData"
    },
    {
      "parameters": {
        "jsCode": "// Function node (NOT Function Item)\n\n// stable hash\nfunction hashKey(title, company, url) {\n  const s = (title || '') + '|' + (company || '') + '|' + (url || '');\n  let h = 5381; \n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h) + s.charCodeAt(i);\n  return (h >>> 0).toString(16);\n}\n\n// ban list\nconst BAN = [\n  /student\\s*(assistant|helper)?/i,\n  /\\bstudent\\b/i,\n  /studenter/i,\n  /\\bpost[- ]?doc(toral)?\\b/i,\n  /\\bpraktikant\\b/i,\n];\n\nconst input = $input.all();\nconst seen = new Set();\nconst out = [];\n\nfor (let i = 0; i < input.length; i++) {\n  const src = input[i];\n  const j = { ...(src.json || {}) }; // shallow clone\n\n  // ban check\n  const hay = ((j.title || '') + ' ' + (j.raw_description || '')).toLowerCase();\n  if (BAN.some(re => re.test(hay))) continue;\n\n  // dedupe\n  const k = hashKey(\n    (j.title || '').toLowerCase(),\n    (j.company || '').toLowerCase(),\n    (j.url || '').toLowerCase()\n  );\n  if (seen.has(k)) continue;\n  seen.add(k);\n\n  j.hash = k;\n\n  // preserve pairing so downstream nodes don't complain\n  out.push({\n    json: j,\n    pairedItem: { item: i }\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        80
      ],
      "id": "3b4a84a3-6986-4f6b-b1e0-884c242bb376",
      "name": "Filter and deduplicate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bdc4c8e-3891-4c52-a7c5-3d8dd0565be6",
              "name": "cv_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1792,
        80
      ],
      "id": "b595e4a3-5118-4f06-8695-8f44144f5ac3",
      "name": "MapResume"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"score\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"overall\": { \"type\": \"number\" },\n        \"background_match\": { \"type\": \"number\" },\n        \"skills_overlap\": { \"type\": \"number\" },\n        \"experience_relevance\": { \"type\": \"number\" },\n        \"seniority\": { \"type\": \"number\" },\n        \"language_requirement\": { \"type\": \"number\" },\n        \"company_score\": { \"type\": \"number\" }\n      },\n      \"required\": [\n        \"overall\",\n        \"background_match\",\n        \"skills_overlap\",\n        \"experience_relevance\",\n        \"seniority\",\n        \"language_requirement\",\n        \"company_score\"\n      ]\n    },\n    \"summary\": { \"type\": \"string\" },\n    \"keywords\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"fit_bullets\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"connector\": { \"type\": \"string\" }\n  },\n  \"required\": [\"score\", \"summary\", \"keywords\", \"fit_bullets\", \"connector\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -224,
        128
      ],
      "id": "8161aa9e-c9fb-40aa-adb2-0127df53330e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "**Schedule Trigger:**\n- Starts the workflow automatically each morning 7:30 ",
        "height": 320,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2672,
        -96
      ],
      "typeVersion": 1,
      "id": "33039a6f-1eab-4580-8df2-b380c0270586",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**Configuration**: \nDefines all key workflow parameters such as \n- API tokens, \n- URLs\n- Searching config",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2528,
        -96
      ],
      "typeVersion": 1,
      "id": "0f945654-7de9-46e8-9b11-21c20662df13",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**CV Retrieval and Preprocessing**:\n- Downloads the latest version of your CV from Google Drive\n- Converts your CV PDF into plain text for downstream analysis.\n- Stores and labels the extracted CV text in a consistent field for use by the AI agent.",
        "height": 320,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        -96
      ],
      "typeVersion": 1,
      "id": "2cea424d-5a8f-4c84-acc8-808045b73a9a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "**Job Data Collection and Preprocessing:**\n- Collects fresh job postings from LinkedIn\n- Standardises all job fields\n- Removes duplicates and filters out irrelevant roles with defined keywords\n- Combines each job description with your extracted CV text ",
        "height": 320,
        "width": 976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        -96
      ],
      "typeVersion": 1,
      "id": "e030b622-4442-46d4-a40a-62c6c2d675b2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// === Prepare compact prompt input for the AI scoring agent ===\n\n// Fetch your CV text from the earlier node\n// (Change 'MapResume' to your actual node name that contains cv_text)\nconst cv_text = $('MapResume').item.json.cv_text;\n\nconst job = $json;\n\n// limit long job text to avoid token waste\nconst maxDesc = 5000; // ~1000 words\nconst cleanDesc = (job.raw_description || '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, maxDesc);\n\n// build a structured summary text block for LLM\nconst jobTextBlock = [\n  `Job title: ${job.title || ''}`,\n  `Company: ${job.company || ''}`,\n  job.location ? `Location: ${job.location}` : '',\n  job.seniority_level ? `Seniority: ${job.seniority_level}` : '',\n  job.employment_type ? `Employment type: ${job.employment_type}` : '',\n  job.industries ? `Industry: ${job.industries}` : '',\n  job.job_function ? `Function: ${job.job_function}` : '',\n  '',\n  'Job Description:',\n  cleanDesc,\n].filter(Boolean).join('\\n');\n\n// return one item per job\nreturn {\n  job_text: jobTextBlock,\n  cv_text: cv_text.slice(0, 10000), // safety cap\n  job_meta: {\n    title: job.title || '',\n    company: job.company || '',\n    url: job.url || job.apply_url || '',\n    hash: job.hash || '',\n    location: job.location || '',\n    posted_at: job.posted_at || '',\n    source: job.source || 'LinkedIn'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        80
      ],
      "id": "bedd3b97-5383-47ab-88e0-4098a0b0125b",
      "name": "Prepare AI Input"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n**AI Scoring and Structured Output:**\nScore the Job and Extract:\n• Compares each job with your CV to assess fit.\n• Evaluates across categories (skills, background, experience, etc.).\n• Generates structured JSON with score breakdown, summary, and fit notes.\nStructured Output Parser:\n• Validates and enforces correct JSON format.\n• Ensures every AI response follows the defined schema before merging.\n\n\n",
        "height": 656,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -176
      ],
      "typeVersion": 1,
      "id": "2726d135-de17-48dc-a08c-2e4350fa2cf0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        80
      ],
      "id": "2a7461f2-0fe0-4cb3-9e2d-15b58685fa3a",
      "name": "Merge Scores + Meta"
    },
    {
      "parameters": {
        "content": "**Parse & Merge Results**\n- Convert the chat model’s text response into a clean JSON object\n- Attach job metadata back onto the parsed LLM output.",
        "height": 320,
        "width": 480,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -96
      ],
      "typeVersion": 1,
      "id": "b94fd8fb-5803-43a5-a7a0-1c8bd3a538da",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Function Item version – returns ONE object\n\nlet raw;\n\nif (typeof $json.output === 'string') {\n  raw = $json.output;\n} else if ($json.choices?.[0]?.message?.content) {\n  raw = $json.choices[0].message.content;\n} else {\n  raw = JSON.stringify($json);\n}\n\nraw = raw.trim();\nraw = raw.replace(/^```json/i, '').replace(/```$/, '').trim();\n\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    try { data = JSON.parse(m[0]); }\n    catch (e2) { data = { parse_error: e2.message, raw }; }\n  } else {\n    data = { parse_error: e.message, raw };\n  }\n}\n\n// return a single object (Function Item requires an object)\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        0
      ],
      "id": "651577d7-f5d3-4694-9002-56627f929c4b",
      "name": "Parse LLM JSON"
    },
    {
      "parameters": {
        "content": "**Top Selection:**\n- Order jobs from best to worst fit\n- Keeps only the top best-fit jobs for report and email",
        "height": 320,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -96
      ],
      "typeVersion": 1,
      "id": "096df7d3-534b-4563-b5fa-55da8cc1c109",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "output.score.overall",
              "order": "descending"
            }
          ]
        },
        "options": {
          "disableDotNotation": false
        }
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        592,
        80
      ],
      "id": "7eeb8ea2-eeb1-4e94-a9b7-12a5bfd6af5c",
      "name": "Rank by Overall Score"
    },
    {
      "parameters": {
        "content": "**Output & Notification**\n- Generates a clean, formatted HTML summary of your top job matches\n- Delivers the daily AI-filtered job report directly to your inbox.",
        "height": 320,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -96
      ],
      "typeVersion": 1,
      "id": "3c6bf4cf-6d1c-4d57-8bc4-bf57c0616111",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -352,
        128
      ],
      "id": "bcf18bf2-a18e-4ea9-a457-715d183c2fb9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "X4B2LLN4sicsS3OB",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -144,
        336
      ],
      "id": "0063777a-a4be-4ca9-ab19-e5450314b96d",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "X4B2LLN4sicsS3OB",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2bda309b-df01-8002-a667-db6ce6a486e4",
          "mode": "list",
          "cachedResultName": "Job Applications",
          "cachedResultUrl": "https://www.notion.so/2bda309bdf018002a667db6ce6a486e4"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Job Title|title",
              "title": "={{ $json.job_meta.title }}"
            },
            {
              "key": "Company|rich_text",
              "textContent": "={{ $json.job_meta.company }}"
            },
            {
              "key": "Location|rich_text",
              "textContent": "={{ $json.job_meta.location }}"
            },
            {
              "key": "Posting date|date",
              "date": "={{ $json.job_meta.posted_at }}"
            },
            {
              "key": "Application Link|url",
              "urlValue": "={{ $json.job_meta.url }}"
            },
            {
              "key": "Keywords|multi_select",
              "multiSelectValue": "={{ $json.output.keywords }}"
            },
            {
              "key": "Match score|number",
              "numberValue": "={{ $json.output.score.overall }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1024,
        80
      ],
      "id": "57ab7966-f51e-4451-81d1-7ee49be1de6c",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "7pF603rypFKAPEGo",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst keywords = JSON.parse(config.keywords);\nconst location = encodeURIComponent(config.location);\nconst altLocation = encodeURIComponent(config.alternativeLocation);\nconst geoId = config.geoId;\nconst filters = config.jobFilters;\nconst altFilters = config.alternativeJobFilters;\n\n// Add time filter parameter (defaults to past 24 hours)\nconst timeFilter = config.timeFilter || 'r86400'; // r86400 = past 24 hours\n\nconst urls = keywords.map((kw, idx) => {\n  const encodedKw = encodeURIComponent(kw);\n  const loc = idx < 3 ? location : altLocation;\n  const filter = idx < 3 ? filters : altFilters;\n  \n  return `https://www.linkedin.com/jobs/search?keywords=${encodedKw}&location=${loc}&f_TPR=${timeFilter}&position=1&pageNum=0`;\n});\n\nreturn [{\n  json: {\n    count: 100,\n    scrapeCompany: true,\n    urls: urls\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        80
      ],
      "id": "56092fc5-c21e-4001-b484-b8d614f4b6a7",
      "name": "LinkedinSearchLink"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1HzpmgVtDhtsfG3v72nv8VZS25MpqjA-J/view",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2240,
        80
      ],
      "id": "b2394260-cb9e-4571-afe1-46b9917b29a6",
      "name": "RetrieveCV1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lw9YEeFAt6PW5QId",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Keep first 15 highest-scoring items (already sorted)\nconst items = $input.all();\nconst top = items.slice(0, parseInt($('Config').first().json.topTotal));\nreturn top; // they are already {json: ...} items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        80
      ],
      "id": "b6637f00-f790-4daa-a9cd-6dd5a74d56ef",
      "name": "Top Slice"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "MapResume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin": {
      "main": [
        [
          {
            "node": "NormalizeData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score the job and extract": {
      "main": [
        [
          {
            "node": "Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "RetrieveCV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NormalizeData": {
      "main": [
        [
          {
            "node": "Filter and deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and deduplicate": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MapResume": {
      "main": [
        [
          {
            "node": "LinkedinSearchLink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Score the job and extract",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "Merge Scores + Meta",
            "type": "main",
            "index": 1
          },
          {
            "node": "Score the job and extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Scores + Meta": {
      "main": [
        [
          {
            "node": "Rank by Overall Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM JSON": {
      "main": [
        [
          {
            "node": "Merge Scores + Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank by Overall Score": {
      "main": [
        [
          {
            "node": "Top Slice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Score the job and extract",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LinkedinSearchLink": {
      "main": [
        [
          {
            "node": "Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetrieveCV1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Slice": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5646e02d-7195-4761-8dbf-c2aec34c9ca3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51a08df3ff7f4ca2e2020dea82578ac5e5e62c8b8585552cc2b200dbebc8319b"
  },
  "id": "ctnD5qiGVqCMO4WP",
  "tags": []
}